.container
{
    display: flex;
    height: 200px;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(224, 150, 150);
    align-items:center}

.box
{
    width: 50%;
    height: 100px;
    background-color: aqua;
    margin: 25px 0;
}

